{% extends "base.html" %}
{% block content %}

<div class="container">
    <!--Header-->
    <header class="row">
        <div class="col-12-md-6" id="header-text">
            <h2>Anime Lists R Us</h2>
            <div>
                <button class="button">Join Our Discord</button>
                <button class="button">Join Our Discord</button>
                <button class="button">jOiN ouR DiSCoRd</button>   
            </div>
        </div>
    </header>
    <!--End Header-->

    <!--Middle-->
    <section class="row" id="middle">
        <div class="col-12 col-md-3">
            <img src="../../static/images/PngItem_6224032.png" alt="replica">
            <h4>Lorem</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ac quam at felis ornare ultrices vitae eget dui.
            </p>
        </div>
        <div class="col-12 col-md-3">
            
            <h4>Lorem</h4>
            <p>
                 Integer ut sem in orci semper ultrices quis eget ligula. Etiam at consequat lacus. Suspendisse a tortor sit amet arcu blandit auctor ut in orci. Suspendisse potenti. 
            </p>
            <img src="../../static/images/PngItem_6224032.png" alt="replica">
        </div>
        <div class="col-12 col-md-3">
            <img src="../../static/images/PngItem_6224032.png" alt="replica">
            <h4>Lorem</h4>
            <p>
                Sed elit magna, aliquam eget mauris pretium, eleifend ullamcorper tortor. Nunc tellus quam, tincidunt eget facilisis eget, fringilla non justo. Etiam malesuada ut sem ut accumsan. Nam volutpat, nunc eu venenatis convallis, diam sem pulvinar augue, ac tincidunt massa enim id purus. 
            </p>
        </div>
    </section>
    <!--End Middle-->
</div>

<!--Footer-->
<footer class="row" id="footer">
    <div class = col-1>
       
    </div>
    <div class="col-2">
        <h4>Filler</h4>
        <p>filler text</p>
        <p>filler text</p>

    </div>
    <div class = col-1>
        <img src="../../static/images/M0HqR7xLmhjeoha2MFAp6X1bpdcKVDlLrdKpOEJRHsA.png" alt="border emblem">
    </div>
    <div class="col-2">
        <h4>Filler</h4>
        <p>filler text</p>
        <p>filler text</p>

    </div>
    <div class = col-1>
        <img src="../../static/images/M0HqR7xLmhjeoha2MFAp6X1bpdcKVDlLrdKpOEJRHsA.png" alt="border emblem">
    </div>
    <div class="col-2">
        <h4>Filler</h4>
        <p>filler text</p>
        <p>filler text</p>
    </div>
    <div class = col-1>
        <img src="../../static/images/M0HqR7xLmhjeoha2MFAp6X1bpdcKVDlLrdKpOEJRHsA.png" alt="border emblem">
    </div>
    <div class="col-2">
        <h4>Filler</h4>
        <p>filler text</p>
        <p>filler text</p>
  
    </div>
</footer>
<!--End Footer-->

{% endblock content %}